<!DOCTYPE html>
<html lang="es">
    <%- include('commons/head_usuario.ejs'); %>
<body>
    <%- include('commons/header_usuario.ejs'); %>
    <div class="fondo">
        <div class="contenedor">
            <div class="saludo-usuario">
                <p>¡Estos son tus vehículos <b id="nombre"><%= usuario.nombre %></b>!</p>
            </div>
            <section class="vehiculos-asegurados">
                <h3 id="titulo-vehiculos-asegurados">Vehículos Asegurados</h3>
                    <article class="vehiculo">
                        <div class="datos-cuerpo">
                            <div class="datos1">
                                <label for="tipo_vehiculo">Tipo de vehículo</label>
                                <input type="text" class="dato1" id="tipo_vehiculo" value="<%= usuario.tipo_vehiculo %>" disabled>
                                <label for="patente">Patente</label>
                                <input type="text" class="dato1" id="patente" value="<%= usuario.patente %>" disabled>
                                <label for="uso_vehiculo">Uso del vehículo</label>
                                <input type="text" class="dato1" id="uso_vehiculo" value="<%= usuario.uso_vehiculo %>" disabled>
                                <label for="vigencia_desde">Vigencia desde</label>
                                <input type="date" class="dato1" id="vigencia_desde" value="<%= usuario.vigencia_desde %>" disabled>
                                <label for="vigencia_hasta">Vigencia hasta</label>
                                <input type="date" class="dato1" id="vigencia_hasta" value="<%= usuario.vigencia_hasta %>" disabled>
                                <label for="marcas">Marca</label>
                                <input type="text" class="dato1" id="marcas" value="<%= usuario.marcas %>" disabled>
                            </div>
                            <div class="datos2">
                                <label for="modelos">Modelo</label>
                                <input type="text" class="dato1" id="modelos" value="<%= usuario.modelos %>" disabled>
                                <label for="modeloanio">Año</label>
                                <input type="number" class="dato1" id="modeloanio" value="<%= usuario.modeloanio %>" disabled>
                                <label for="suma_asegurada">Suma asegurada</label>
                                <input type="number" class="dato1" id="suma_asegurada" value="<%= usuario.suma_asegurada %>" disabled>
                                <label for="cobertura">Tipo de plan</label>
                                <input type="text" class="dato1" id="cobertura" value="<%= usuario.cobertura %>" disabled>
                                <label for="prima">Cuota de seguro</label>
                                <input type="text" class="dato1" id="prima" value="<%= usuario.prima %>" disabled>
                                <label for="premio">Premio total</label>
                                <input type="number" class="dato1" id="premio" value="<%= usuario.premio %>" disabled>
                            </div>
                        </div>
                        <div class="body-buttons">
                            <div class="emitir-poliza">
                                <input class="poliza" value="Emitir poliza" type="button" onclick="window.location.href='/poliza'">
                            </div>
                        </div>
                    </article>
            </section>
        </div>
    </div>
    <script src="/public/js/usuario_vehiculos.js" type="text/javascript"></script>
</body>
</html>
